extend layout
block content
  p
    | Welcome to my first ever Node.JS site, this site is the fruit of a grand total of 10 mins work
  p
    | I'm wondering now how I can turn this into something amazing and really explore the power of Javascript and my limited understanding of it to power this baby up. I wonder if node.js means I can use jQuery on server side? hmm lots to explore
block sidebar
  .widget
    h1 MySide
    p
      | something much smarter than this should really go here but what the hell I don't care
    p
      | It's friday and .. it's CODE day here in the API Office - yippee