!!!5
html
  head
    title #{title} - My First Node.JS site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Frist Node.JS Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p &copy; 2013 Keran McKenzie &amp; MYOB API team